*,
*::before,
*::after
  box-sizing: inherit

*
  outline: 1px solid red

html
  box-sizing: border-box
  font-size: 16px

body
  color: $text
  width: 100%
  background-color: $white
  +font(Gilroy)

  // @include font("Roboto")

a
  text-decoration: none

img
  max-width: 100%
  height: auto

.future
  all: initial
  all: inherit
  all: unset

.size-1
  font-size: rem(18)
  line-height: rem(24)

.container
  max-width: 1440px
  margin-left: auto
  margin-right: auto
