.example
  margin-bottom: 100px

  +mw(600)
    margin-bottom: 70px

  &__inner
    display: flex
    justify-content: space-between

  &__col


  &__col--calc
    max-width: 420px 
    margin-right: 20px


  &__col--review
    width: 60%


.container

.calc

  &__title
    margin-bottom: 40px


  &__text
    margin-bottom: 60px


  &__calculation
    padding-top: 60px
    padding-left: 44px
    padding-right: 44px
    padding-bottom: 42px
    background: #FFFFFF
    border: 1px solid rgba(124, 133, 157, 0.1)
    box-shadow: 0px 4px 30px rgba(70, 70, 70, 0.1)
    border-radius: 10px

    & .calculation
      
      &__label
        display: none

      &__control

        & + div
          margin-top: 10px

      &__field

        & + fieldset
          margin-top: 20px

      &__btn
        margin-top: 20px
        margin-bottom: 10px

      &__subtitle
        font-weight: 500


.title

.calculation

  &__field


  &__field--head


  &__title


  &__subtitle


  &__control


  &__label


  &__select


  &__head


  &__input


  &__btn


  &__consent


  &__politic


.size-3

.btn

.hover-opacity

.review

  &__title
    display: none

  &__card

  &__link
    text-align: center
    padding-top: 22px
    padding-bottom: 22px
    background-color: #FAFAFC
    border: 1px solid rgba(124, 133, 157, 0.1)
    box-sizing: border-box
    border-radius: 4px
    display: inline-block
    margin-top: 40px
    width: 100%
    color: #8D8D93
    font-weight: 500


.card
  padding-top: 40px
  padding-bottom: 40px
  padding-left: 40px
  padding-right: 40px
  box-shadow: 0px 4px 30px rgba(70, 70, 70, 0.1)
  border-radius: 4px
  display: flex
  justify-content: space-between

  & + .card
    margin-top: 20px

  &__col


  &__col--left
    width: calc(45% - 10px)



  &__img-wrap
    margin-bottom: 22px
    overflow: hidden


  &__img
    display: block


  &__list


  &__item
    display: flex
    align-items: center

    & +li
      margin-top: 10px


  &__term
    font-size: rem(12)
    line-height: rem(14)
    color: #8D8D93
    text-transform: uppercase
    display: block
    width: 85px


  &__def
    font-weight: 500;
    font-size: rem(18)
    line-height: rem(24)
    display: block


  &__col--right
    width: calc(55% - 10px)


  &__link-wrap


  &__link
  &__link-wrap
    display: none


  &__text-wrap
    // padding-top: 0
    // padding-bottom: 0
    // padding-left: 0
    // padding-right: 0


  &__text
    margin-top: 18px


