.page-footer
  margin-bottom: 160px

  +mw(768)
    margin-bottom: 32px

  &__inner

  &__top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 60px

    +mw(768)
      margin-bottom: 32px


  &__logo-img
    display: block


  &__text

    margin-right: auto
    margin-left: 14px
    font-size: rem(12)

    & br 
      display: none


  &__contacts

    +mw(768)
      display: none


  &__socials
    display: flex
    margin-left: 30px


  &__middle
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 85px

    +mw(768)
      flex-direction: column
      align-items: flex-start
      margin-bottom: 60px


  &__bottom
    display: flex
    justify-content: space-between
    align-items: center

    +mw(768)
      flex-direction: column
      align-items: flex-start


.middle

  &__copy
    font-size: rem(14)
    font-weight: 600

    +mw(768)
      margin-bottom: 10px


  &__polit
    color: #8D8D93
    font-size: rem(14)
    font-weight: 600

.bottom
  &_bank
    font-size: rem(12)
    font-weight: 600
    color: #8D8D93

  &__afert
    font-size: rem(12)
    font-weight: 600
    color: #8D8D93
    width: 365px

    +mw(768)
      width: auto
      margin-bottom: 10px


