.page-footer
  margin-bottom: 100px

  +mw(768)
    margin-bottom: 32px

  &__inner

  &__top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 60px

    +mw(768)
      margin-bottom: 32px


  &__logo-img
    display: block


  &__text

    margin-right: auto
    margin-left: 14px
    font-size: rem(12)

    & br 
      display: none


  &__contacts

    +mw(768)
      display: none


  &__socials
    display: flex
    margin-left: 30px


  &__middle
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 45px
    border-bottom: 1px solid rgba(124, 133, 157, 0.1)

    +mw(600)
      padding-bottom: 30px
    // margin-bottom: 85px

    +mw(768)
      flex-direction: column
      align-items: flex-start


  &__bottom
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 40px

    +mw(768)
      flex-direction: column
      align-items: flex-start

    +mw(600)
      padding-top: 30px


.middle

  &__copy
    font-size: rem(14)
    font-weight: 500

    +mw(768)
      margin-bottom: 10px


  &__polit
    color: #8D8D93
    font-size: rem(14)
    font-weight: 500

.bottom
  &_bank
    font-size: rem(12)
    font-weight: 500
    color: #8D8D93

  &__afert
    font-size: rem(12)
    font-weight: 500
    color: #8D8D93
    width: 365px

    +mw(768)
      width: auto
      margin-bottom: 10px


