.page-header
  &__inner
    display: flex
    align-items: center
    padding-top: 70px
    padding-bottom: 70px

  &__logo-link
    display: block
    width: 80px
    height: 20px
    overflow: hidden

  &__logo-img
    width: 80px
    height: 20px

  &__nav
    margin-left: 80px

  &__contacts
    margin-left: auto



.page-header__inner

.container

.page-header

.page-header

.page-header__nav

.header-nav

  &__list
    margin-top: 0
    margin-bottom: 0
    padding-left: 0
    display: flex
    align-items: center

  &__item
    list-style: none

    & + .header-nav__item
      margin-left: 60px


  &__link
    display: block


.header-nav__list

.header-nav

.header-nav__link

.size-1

.page-header__

  .contacts

    &__tel
      display: block

.page-header__socials

.socials
  margin-top: 0
  margin-bottom: 0
  padding-left: 0

  &__item
    list-style: none

.socials__item

.socials__link

.socials__link--tg

.socials__link--viber

.socials__link--watsapp
